#meu-elemento {
  background-image: url("C:\Users\Me\Documents\Visual Studio\Mini Projeto Web\imagem\241114151_1277342716044214_532422047663898547_n.png");
  width: 400px;
  height: 300px;
}

body{
    background-color: #d0f8ff ;
}